const api_base_url = "https://localhost:8090/app_dev.php/api/v1/";

window.urlBase = api_base_url;

window.api_authentication = {
    api_jwt: 'eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXUyJ9.eyJleHAiOjE1MjM2MzY4MzUsInVzZXJuYW1lIjoicnViZW5zIiwiaWF0IjoiMTUyMzU1MDQzNSJ9.rlU7T6-NRACOtO717gxYxtVfh4ZMaaYhIedjednZi0aZ3Wf7hqRnOGJYOoK5yDIG_RtjzG1gE0qMVbn9UDFxg_2yalJu52-MNwoXDZ3JzXHX1BptV2uFnWXfHlehIQUf5KGfSleDoacs7F-_wgaAatz3H3UzWM4JsSctsFkbYZ9x-Ew8czhqStjGo-VuWnFrHijtQnEyDNKxwvZ8Y4eqSU1cFSJKwVgxw7zx8WGSXjwYaPFp18Ida59YyP46xCi4AOc7U8EBEm2jcWnitzbcJ7sfLrcpwEOJCV6Ot0uhjJsrkP_J9RvU03guQ37oRwpYyfCJGwOC4aaPmay80vTKzGpedAjtIhtYQlmJSUGo56D7TxRjfBePVaJNSzpIUc4APa9kDhSLaYxqs6Q9qAjV_pGOs6yrfwMrCDdZVXC--P-wn0EyqjvH1ZWcc26z_quOiqdo-5c-KtBEIMR5IKInVqRaIejSvlmsTd7vSEdV35WUtq6q42zxdELwORNNnLsglj5q9x9RJzqBqDHD3kDYdjJzy5tqhoBAHQw2oiyLr93tW3YKPekUHm-3Jg-l9Z0kWMPFmHvnfp5w6_IaQjqXomgmUHKlBR5dJa1KrTVeHhVEANaq6VMknnVI3-TsroEFtfcT_OmpD8t-_DK7sKb7do5vFNsac_fOv3v2sDZjEh4'
};

window.apiMoker = false;